body {
  margin: 0;
  padding: 0;
}

.product-option {
  margin: 0;
  padding: 0;
  font-weight: 500;
  font-family: Arial, Helvetica, sans-serif;
}

.product-option.heading {
  font-size: 28px;
  line-height: 1.2;
  letter-spacing: 0.007em;
}

.product-option.subheading {
  font-size: 16px;
  line-height: 1.5;
}
